Makefile
builds/msvc/Makefile
builds/redhat/zeromq.spec
config.log
config.status
doc/Makefile
foreign/openpgm/Makefile
libtool
perf/.deps/
perf/.libs/
perf/Makefile
perf/inproc_lat
perf/inproc_lat.o
perf/inproc_thr
perf/inproc_thr.o
perf/local_lat
perf/local_lat.o
perf/local_thr
perf/local_thr.o
perf/remote_lat
perf/remote_lat.o
perf/remote_thr
perf/remote_thr.o
src/.deps/
src/.libs/
src/Makefile
src/libzmq.la
src/libzmq.pc
src/libzmq_la-address.lo
src/libzmq_la-address.o
src/libzmq_la-clock.lo
src/libzmq_la-clock.o
src/libzmq_la-ctx.lo
src/libzmq_la-ctx.o
src/libzmq_la-curve_client.lo
src/libzmq_la-curve_client.o
src/libzmq_la-curve_server.lo
src/libzmq_la-curve_server.o
src/libzmq_la-dealer.lo
src/libzmq_la-dealer.o
src/libzmq_la-devpoll.lo
src/libzmq_la-devpoll.o
src/libzmq_la-dist.lo
src/libzmq_la-dist.o
src/libzmq_la-epoll.lo
src/libzmq_la-epoll.o
src/libzmq_la-err.lo
src/libzmq_la-err.o
src/libzmq_la-fq.lo
src/libzmq_la-fq.o
src/libzmq_la-io_object.lo
src/libzmq_la-io_object.o
src/libzmq_la-io_thread.lo
src/libzmq_la-io_thread.o
src/libzmq_la-ip.lo
src/libzmq_la-ip.o
src/libzmq_la-ipc_address.lo
src/libzmq_la-ipc_address.o
src/libzmq_la-ipc_connecter.lo
src/libzmq_la-ipc_connecter.o
src/libzmq_la-ipc_listener.lo
src/libzmq_la-ipc_listener.o
src/libzmq_la-kqueue.lo
src/libzmq_la-kqueue.o
src/libzmq_la-lb.lo
src/libzmq_la-lb.o
src/libzmq_la-mailbox.lo
src/libzmq_la-mailbox.o
src/libzmq_la-mechanism.lo
src/libzmq_la-mechanism.o
src/libzmq_la-msg.lo
src/libzmq_la-msg.o
src/libzmq_la-mtrie.lo
src/libzmq_la-mtrie.o
src/libzmq_la-null_mechanism.lo
src/libzmq_la-null_mechanism.o
src/libzmq_la-object.lo
src/libzmq_la-object.o
src/libzmq_la-options.lo
src/libzmq_la-options.o
src/libzmq_la-own.lo
src/libzmq_la-own.o
src/libzmq_la-pair.lo
src/libzmq_la-pair.o
src/libzmq_la-pgm_receiver.lo
src/libzmq_la-pgm_receiver.o
src/libzmq_la-pgm_sender.lo
src/libzmq_la-pgm_sender.o
src/libzmq_la-pgm_socket.lo
src/libzmq_la-pgm_socket.o
src/libzmq_la-pipe.lo
src/libzmq_la-pipe.o
src/libzmq_la-plain_mechanism.lo
src/libzmq_la-plain_mechanism.o
src/libzmq_la-poll.lo
src/libzmq_la-poll.o
src/libzmq_la-poller_base.lo
src/libzmq_la-poller_base.o
src/libzmq_la-proxy.lo
src/libzmq_la-proxy.o
src/libzmq_la-pub.lo
src/libzmq_la-pub.o
src/libzmq_la-pull.lo
src/libzmq_la-pull.o
src/libzmq_la-push.lo
src/libzmq_la-push.o
src/libzmq_la-random.lo
src/libzmq_la-random.o
src/libzmq_la-raw_decoder.lo
src/libzmq_la-raw_decoder.o
src/libzmq_la-raw_encoder.lo
src/libzmq_la-raw_encoder.o
src/libzmq_la-reaper.lo
src/libzmq_la-reaper.o
src/libzmq_la-rep.lo
src/libzmq_la-rep.o
src/libzmq_la-req.lo
src/libzmq_la-req.o
src/libzmq_la-router.lo
src/libzmq_la-router.o
src/libzmq_la-select.lo
src/libzmq_la-select.o
src/libzmq_la-session_base.lo
src/libzmq_la-session_base.o
src/libzmq_la-signaler.lo
src/libzmq_la-signaler.o
src/libzmq_la-socket_base.lo
src/libzmq_la-socket_base.o
src/libzmq_la-stream.lo
src/libzmq_la-stream.o
src/libzmq_la-stream_engine.lo
src/libzmq_la-stream_engine.o
src/libzmq_la-sub.lo
src/libzmq_la-sub.o
src/libzmq_la-tcp.lo
src/libzmq_la-tcp.o
src/libzmq_la-tcp_address.lo
src/libzmq_la-tcp_address.o
src/libzmq_la-tcp_connecter.lo
src/libzmq_la-tcp_connecter.o
src/libzmq_la-tcp_listener.lo
src/libzmq_la-tcp_listener.o
src/libzmq_la-thread.lo
src/libzmq_la-thread.o
src/libzmq_la-trie.lo
src/libzmq_la-trie.o
src/libzmq_la-v1_decoder.lo
src/libzmq_la-v1_decoder.o
src/libzmq_la-v1_encoder.lo
src/libzmq_la-v1_encoder.o
src/libzmq_la-v2_decoder.lo
src/libzmq_la-v2_decoder.o
src/libzmq_la-v2_encoder.lo
src/libzmq_la-v2_encoder.o
src/libzmq_la-xpub.lo
src/libzmq_la-xpub.o
src/libzmq_la-xsub.lo
src/libzmq_la-xsub.o
src/libzmq_la-zmq.lo
src/libzmq_la-zmq.o
src/libzmq_la-zmq_utils.lo
src/libzmq_la-zmq_utils.o
src/platform.hpp
src/stamp-h1
tests/.deps/
tests/.libs/
tests/Makefile
tests/test_abstract_ipc
tests/test_abstract_ipc.o
tests/test_conflate
tests/test_conflate.o
tests/test_connect_resolve
tests/test_connect_resolve.o
tests/test_ctx_destroy
tests/test_ctx_destroy.o
tests/test_ctx_options
tests/test_ctx_options.o
tests/test_disconnect_inproc
tests/test_disconnect_inproc.o
tests/test_fork
tests/test_fork.o
tests/test_hwm
tests/test_hwm.o
tests/test_immediate
tests/test_immediate.o
tests/test_inproc_connect
tests/test_inproc_connect.o
tests/test_invalid_rep
tests/test_invalid_rep.o
tests/test_iov
tests/test_iov.o
tests/test_issue_566
tests/test_issue_566.o
tests/test_last_endpoint
tests/test_last_endpoint.o
tests/test_many_sockets
tests/test_many_sockets.o
tests/test_monitor
tests/test_monitor.o
tests/test_msg_flags
tests/test_msg_flags.o
tests/test_pair_inproc
tests/test_pair_inproc.o
tests/test_pair_ipc
tests/test_pair_ipc.o
tests/test_pair_tcp
tests/test_pair_tcp.o
tests/test_probe_router
tests/test_probe_router.o
tests/test_req_correlate
tests/test_req_correlate.o
tests/test_req_relaxed
tests/test_req_relaxed.o
tests/test_reqrep_device
tests/test_reqrep_device.o
tests/test_reqrep_inproc
tests/test_reqrep_inproc.o
tests/test_reqrep_ipc
tests/test_reqrep_ipc.o
tests/test_reqrep_tcp
tests/test_reqrep_tcp.o
tests/test_router_mandatory
tests/test_router_mandatory.o
tests/test_router_raw_empty
tests/test_router_raw_empty.o
tests/test_security_curve
tests/test_security_curve.o
tests/test_security_null
tests/test_security_null.o
tests/test_security_plain
tests/test_security_plain.o
tests/test_shutdown_stress
tests/test_shutdown_stress.o
tests/test_spec_dealer
tests/test_spec_dealer.o
tests/test_spec_pushpull
tests/test_spec_pushpull.o
tests/test_spec_rep
tests/test_spec_rep.o
tests/test_spec_req
tests/test_spec_req.o
tests/test_spec_router
tests/test_spec_router.o
tests/test_stream
tests/test_stream.o
tests/test_sub_forward
tests/test_sub_forward.o
tests/test_system
tests/test_system.o
tests/test_term_endpoint
tests/test_term_endpoint.o
tests/test_timeo
tests/test_timeo.o
tools/.deps/
tools/.libs/
tools/Makefile
tools/curve_keygen
tools/curve_keygen.o